.book-info-text {
    font-size: 15px;
}

.book-item {
    text-align: left;
}

#remove-book-dropdown {
    width: 70px;
    margin-left: 30px;
    display: none;
    background-color: blueviolet;
    border: 1px solid coral;

}

#remove-book-dropdown li {
    color: gold;
}

#remove-book-button {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}

.progress-numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px; /* Adjust padding as needed */
    font-size: 14px; /* Adjust font size as needed */
    margin-top: 10px; /* Adjust the margin to position below the progress bar */
}

.info {
    margin-top: 70px;
    text-align: left;
}