.book-info-text {
    font-size: 15px;
}

.book-item {
    text-align: left;
}

#remove-book-dropdown, #remove-tbr-dropdown {
    width: 150px;
    margin-left: 30px;
    margin-top: 10px;
    display: none;
    background-color: #E4E6C3;
    border: 1px solid coral;
    grid-column-start: 1;
    grid-column-end: 2;
    
}

#remove-book-dropdown li {
    color: gold;

}

#progress-percent {
    font-weight: bold;
}

#remove-book-button {
    width: 150px;
    margin-top: 10px;
    margin-left: 30px;
}

.remove-book-container {
    display: grid;
}



#done-remove, #tbr-done-remove {
    width: 100px;
    margin-top: 10px;
    margin-left: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    display: none;
    font-size: small;
    background-color: coral;
}

.progress-numbers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5px; 
    font-size: 14px; 
    margin-top: 10px; 
}

.info {
    margin-top: 70px;
    text-align: left;
}

.tbr-list-box {
    text-align: left;
}

#remove-tbr-dropdown {
    display: none;
}

#tbr-done-remove {
    display: none;
}

#remove-tbr-button {
    width: 150px;
    margin-top: 10px;
}

.tbr-container {
    text-align: left;
}

.books-read-box {
    max-height: 600px; 
    overflow-y: auto; 
 }

.tbr-list-box {
    max-height: 300px;
    overflow-y: auto;
}


.remove-tbr-container, .remove-book-container {
    display: flex;
    align-items: center;
}

.book-item, .tbr-item {
    font-size: medium;
    margin: 5px;
    padding: 0px;
}

.book-info-text {
    font-size: small;
    margin: 0px;
    padding-top: 0%;
}

#tbr-description {
    font-size: 14px;
    margin-top: 0px;
    padding-top: 0px;
}

#tbr-heading {
    margin-bottom: 5px;
}

